<div>
    <h1>Job listing created</h1>
    <h2>ID: {{ id }}</h2>
    <h2>Owner ID: {{ ownerId }}</h2>
    <h2>Title: {{ title }}</h2>
    <h2>Description: {{ description }}</h2>
    <h2>Created at: {{ createdAt|date }}</h2>
</div>
