{% extends 'base.html.twig' %}

{% block body %}
<div>
    <h1>External Job Listings</h1>
    <table border="1">
        <thead>
            <tr>
                <td>Job ID</td>
                <td>Position</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
            {% for listing in externalJobListings %}
                <tr>
                    <td>{{ listing.id }}</td>
                    <td>
                        <a href="https://mrge-group-gmbh.jobs.personio.de/job/{{ listing.id }}" target="_blank">
                            {{ listing.name }}
                        </a>
                    </td>
                    <td>
                        {% for description in listing.description %}
                            <h2>{{ description.header }}</h2>
                            <p>{{ description.text|raw }}</p>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
