<div>
    <table border="1">
        <thead>
            <tr>
                <td>ID</td>
                <td>Email</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Is a moderator</td>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.isModerator }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
